<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="CSS/home.css">
    <!-- <link rel="stylesheet" href="CSS/global.css"> -->
    <!-- <link rel="stylesheet" href="CSS/register.css"> -->
    <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" href="CSS/login.css">
</head>
<body>
  <div class="container mt-5" style="width: 40%;">
        
    <form action="login.html" method="post">
        
      
        <div class="container mt-5">
            <h1 class="text-center text-danger"><strong>Registration Form</strong></h1>
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
              
          <button class="btn btn-primary"  type="submit">Register</button>
          <button style="background-color:crimson;" class="btn btn-primary" > <a class="text-white" href="login.html"> Already A Member?  Login Here </a></button>
          
        </div>
      

      </form>


</div> 
</body>
</html>




    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand flash-me">Home!</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav> 
      
        <div class="container">
          <div class="title">Registration</div>
          <div class="content">
            <form #formReg='ngForm' (ngSubmit)="registerUser(formReg.value)">
              <div class="user-details">
                <div class="input-box">
                  <span class="details">STUDENT Name*</span>
                  <input type="text" placeholder="Enter your name" required name="name"
                  #name='ngModel' [class.is-invalid]='name.invalid && name.touched' 
                  minlength="4" ngModel/>
                  <div *ngIf="name.touched">
                    <div *ngIf="name.errors && (name.invalid)">
                        <small class="text-danger" *ngIf="name.errors.required">
                            Name is Required
                        </small>
                        <small class="text-danger" *ngIf='name.errors.pattern'>
                            Thid id not a valid Email
                        </small>
                        <small class="text-danger" *ngIf='name.errors.minlength'>
                            Description should be of length 4 characters
                        </small>
                    </div>
                </div>
      
                </div>
      
                <div class="input-box">
                  <span class="details">Email*</span>
                  <input type="text" placeholder="Enter your Email" required
                  #email='ngModel' minlength="4" [class.is-invalid]='email.invalid && email.touched'
                  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" ngModel>
                  <div *ngIf="email.touched" class="email">
                    <div *ngIf="email.errors && (email.invalid)">
                        <small class="text-danger" *ngIf="email.errors.required">
                           Email is Required
                        </small>
                        <small class="text-danger" *ngIf='email.errors.pattern'>
                          Thid id not a valid City
                      </small>
                    </div>
                  </div>
                </div>
      
                <div class="input-box">
                  <span class="details">City*</span>
                  <input type="text" placeholder="Enter your City" required name="city" #city='ngModel' [class.is-invalid]='city.invalid && email.touched' 
                   ngModel>
      
                  <div *ngIf="city.touched">
                    <div *ngIf="city.errors && (city.invalid)">
                        <small class="text-danger" *ngIf="city.errors.required">
                            City is Required
                        </small>
                        <small class="text-danger" *ngIf='city.errors.minlength'>
                            It should not be less than 4 charaters
                        </small>
                    </div>
                </div>
        
                </div>
      
                <div class="input-box">
                  <span class="details">Phone Number*</span>
                  <input type="text" placeholder="Enter your number" required
                  #mobile='ngModel' minlength="10" [class.is-invalid]='mobile.invalid && mobile.touched'
                  name="mobile" ngModel>
                  <div *ngIf="mobile.touched" class="mobile">
                    <div *ngIf="mobile.errors && (mobile.invalid)">
                        <small class="text-danger" *ngIf="mobile.errors.required">
                           Phone no. is Required
                        </small>
                        <small class="text-danger" *ngIf='mobile.errors.minlength'>
                          It should not be less than 10 characters
                      </small>
                    </div>
                </div>
                </div>
                <div class="input-box">
                  <span class="details">Password*</span>
                  <input type="password" placeholder="Enter your password" required
                  #password='ngModel' minlength="6" [class.is-invalid]='password.invalid && password.touched'
                  name="password" ngModel>
      
                  <div *ngIf="password.touched">
                    <div *ngIf="password.errors && (password.invalid)">
                        <small class="text-danger" *ngIf="password.errors.required">
                            Password is Required
                        </small>
                        <small class="text-danger" *ngIf='password.errors.minlength'>
                          It should not be less than 6 charaters
                      </small>
                    </div>
                </div>
                  
                </div>
                <div class="input-box">
                  <span class="details">Confirm Password*</span>
                  <input type="password" placeholder="Confirm your password" required
                  #confirmpassword='ngModel' minlength="6" [class.is-invalid]='confirmpassword.invalid && confirmpassword.touched'
                  name="confirmpassword" ngModel>
                  <div *ngIf="confirmpassword.touched">
                    <div *ngIf="confirmpassword.errors && (confirmpassword.invalid)">
                        <small class="text-danger" *ngIf="confirmpassword.errors.required">
                            Password is Required
                        </small>
                        <small class="text-danger" *ngIf='confirmpassword.errors.minlength'>
                          It should not be less than 6 charaters
                      </small>
                    </div>
                </div>
                </div>
              </div>
              <div class="button">
                <input [disabled]='formReg.form.invalid' type="submit" value="Register">
              </div>
              <hr>
              <div class="" routerLink='/login'>
                Already a member? <a href="login.html">Login now</a>
             </div>
            </form>
          </div>
        </div>  -->
